@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color:#E8F2C2;
    color: #403237;
}
 /* headings and logo */

h1, h2 {
    font-family: Kaushan Script, cursive;
    text-transform: uppercase;
    color: #403237;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#navigation {
    font-size: 130%;
    font-weight: bold;
}

#logo, #navigation {
    line-height: 75px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    color: #403237;
    text-decoration: none;
}

#navigation a:hover {
    border-block: 1px solid #BAD977;
}


/*hero image*/

#hero-image {
    background: url(../images/pexels-james-wheeler-1486976-resized.jpg) no-repeat center center;
    height: 500px;
    width: 100%;
    
    /*zoom effect animation*/
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}
    @keyframes hero-zoom {
        from{
            transform: scale(2);
        }
        to{
            transform: scale(1);
        }
    }
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text {
    color: #BAD977;
    background-color: #403237a5;
    font-size: 120%;
    font-family: Kaushan Script, cursive;
    font-style: italic;
    width: auto;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    bottom: 30px;
    right: 10px;

}

/*About us*/
#title1 {
    text-align: center;
    margin: 50px 0;
    font-size: 200%;
}

#profile1-container {
    width: 140px;
    height: 140px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    margin-left: 350px;

}

#profile1 {
    background: url(../images/profile1-resized.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#profile2-container {
    width: 140px;
    height: 140px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
    margin-right: 350px;

}

#profile2 {
    background: url(../images/profile2-resized.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#profile3-container {
    width: 140px;
    height: 140px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    margin-left: 350px;

}

#profile3 {
    background: url(../images/profile3-resized.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.profiledescribe {
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 40px;

    
}
/*What is permaculture*/

#title2 {
    text-align: center;
    margin: 50px 0;
    font-size: 200%;
}


#perma-describe {
    font-size: 140%;
    font-weight: bold;
    text-align: left;
    margin: 40px 40px;
    position: absolute;
    width: 700px;
    right: 40px;
    background-color: #bad97781;
    }

#cabbage-pic {
    margin-left: 40px;
    margin-right: 40px;
    right: 40px;
}

/*our workshop*/

#title3 {
    text-align: center;
    margin: 50px 0;
    font-size: 200%;
}


#garden-work {
    right: 40px;
    margin: 40px 40px;
    position: absolute;
    float: right;

}


#our-workshop {
    font-size: 140%;
    font-weight: bold;
    text-align: left;
    margin: 40px 40px;
    width: 400px;
    left: 40px;
    background-color: #bad97781;
    }

}





/*form styling*/

#contact {
    background-color: #BAD977;
    height: 250px;
    width: 300px;
    position: absolute;
    left: 40%;
}

/*footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #403237;
}